#tblData_wrapper .dt-info {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px; 
    margin-top:8px;
    }

    #tblData_wrapper  .dt-paging {
        display: inline-block;
        vertical-align: middle;
        margin-top:10px;
    }

    .voucher_dashboard_back{text-decoration:none !important;}
	.dt-search{
		position:sticky;
		z-index: 10;
	}					  

			
			.dt-length {
				position: sticky;
			
				z-index: 10;
				
			}
			.set-draft-button{
				background:#043753;
				color:#fff;
				border-radius:20px;
				padding: 5px 7px 5px 7px;
				border:0px !important;
				cursor: pointer;
				}
				.set-draft-button:hover{
				background:#f0c144;
				/* border: 1px solid #f0c144!important; */
				}