 table.dataTable thead th{
        text-align:center !important;
      }

        #voucher_orders_paginate .paginate_button {
        margin:0px!important;
       
        height: 28px;
        }
        #voucher_orders_paginate,#voucher_orders_info{
        margin:10px 0px;
        }
        #voucher_orders_paginate .previous,#voucher_orders_paginate .next{
        padding-top:4px!important;
        margin:0px 10px!important;
        }

        #voucher_orders_paginate .paginate_button.previous,
        #voucher_orders_paginate .paginate_button.next {
            background-color: #043753 !important;
            color: white !important; 
        
            /* border-radius: 2px; */
        
        
        }


        #voucher_orders_paginate .paginate_button.current {
            background-color: #f0c144 !important;
            color: white; 
        }


        #voucher_orders_paginate .paginate_button.previous:active,
        #voucher_orders_paginate .paginate_button.next:active {
            background-color: #f0c144 !important;
            color: white; 
        }


        #voucher_orders_paginate .paginate_button:hover {
            background-color: #f0c144 !important;
            color: white;
        }



        .button-view {
            background: #008eb3 !important;
            padding: 10px;
            text-decoration: none !important; 
            border-radius: 5px; 
            color: white; 
            
        }

        .button-view:active {
            background: #f0c144 !important; 
            color: white; 
        }
        .button-view:hover {
            color:white;
            background: #f0c144 !important; 
        }
       
            .counts-container {
                display: flex;
                justify-content: space-evenly; 
                /* width: 100%; */
                border-bottom: none !important; 
            }

            .counts-container div {
                padding: 5px 10px; 
                border: none; 
            }

            .status { text-align:right !important; }
            .action { text-align:center !important; }
            /* .button-view { background:#008eb3 !important; padding:10px; } */
            .total_count { background:#043753 !important; color:#fff !important; padding:2px 5px !important; }
            .assign_count { background:#f0c144 !important; color:#fff !important; padding:2px 5px !important; }
            .unassign_count { background:#ed6d46 !important; color:#fff !important; padding:2px 5px !important; }
            .redeemed_count { background:#699fb6 !important; color:#fff !important; padding:2px 5px !important; }

            .search_id {
                margin-bottom: -6.5% !important;
                padding: 5px !important;
                z-index: 9 !important;
                border:1px solid #043753 !important;
                width:20%;
                float:right;
                position: relative;
                top: 35px !important;
            }
            /* #voucher_orders_length label {
            display: flex;
            align-items: center;
            gap: 10px; 
            float: right !important;
        } */

        #voucher_orders_length select {
            margin: 0 5px;
            padding: 5px;
            padding-right: 15px;
        }
/* 
        #voucher_orders_filter {
            display: none !important;
        } */

.dataTables_length, .dataTables_filter {
    display: inline-block;
    margin-right: 10px; 
}


.dataTables_length label, .dataTables_filter label {
    display: inline-block;
    margin-right: 5px; 

}
.dataTables_filter label{
    padding-top:27px;
}
select, input[type="search"] {
    display: inline-block;
}



                #voucher_orders_length select {
                    height: 30px !important;
                    margin: 30px 0px !important;
                }

                #voucher_orders .odd {
                    background: #fff !important;
                }
                .dataTables_wrapper .dataTables_paginate .paginate_button {
                padding: 0 !important; /* Remove padding */
            }
                #voucher_orders .odd,
                #voucher_orders .odd td,
                #voucher_orders .even td {
                    box-shadow: 0px 0px 0px 0px #fff !important;
                    background: #fff !important;
                    padding: 20px !important;
                }